@using UniversityBusinessLogic.ViewModels

@model List<AttestationViewModel>
@{
    ViewData["Title"] = "Attestations";
}

<div class="text-center">
    <h1 class="display-4">Аттестация</h1>
</div>

<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a asp-action="AttestationCreate">Добавить аттестацию</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Дата аттестации
                    </th>
                    <th>
                        Студент
                    </th>
                    <th>
                        Изменение аттестации
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentName)
                        </td>
                        <td>
                            <a class="btn btn-warning button-fixed button-sm" asp-action="AttestationUpdate" asp-route-Id="@item.Id" asp-route-date="@item.Date" 
                            asp-route-studentName="@item.StudentName">Изменить</a>

                            <a class="btn btn-danger button-fixed button-sm" asp-action="AttestationDelete" asp-route-Id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
