@{
    ViewData["Title"] = "Update LearningPlan";
}
<div class="text-center">
    <h2 class="display-4">Изменение плана обучения</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Название плана обучения:</div>
        <div class="col-8"><input type="text" name="learningPlanName" id="learningPlanName" value="@ViewBag.LearningPlan.LearningPlanName" size="35" /></div>
    </div>
    <div class="row">
        <div class="col-4">Количество часов:</div>
        <div class="col-8"><input type="text" name="hours" id="hours" value="@ViewBag.LearningPlan.Hours" /></div>
    </div>
    <div class="row">
        <div class="col-4">Преподаватели:</div>
        <div class="col-8">
            <select id="teachersId" name="teachersId" class="form-control" asp-items="@(new SelectList(@ViewBag.Teachers,"Id", "Name"))" multiple ></select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Преподаватели
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.LearningPlan.LearningPlanTeachers)
            {
                <tr>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <input type="submit" value="Сохранить изменения" class="btn btn-outline-dark" />
        </div>
    </div>
</form>