@using UniversityBusinessLogic.ViewModels

@model List<StudentViewModel>
@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    <h1 class="display-4">Студенты</h1>
</div>

<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a asp-action="StudentCreate">Добавить студента</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер зачетной книжки
                    </th>
                    <th>
                        ФИО студента
                    </th>
                    <th>
                        Изменение студента
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GradebookNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a class="btn btn-warning button-fixed button-sm" asp-action="StudentUpdate" asp-route-gradebookNumber="@item.GradebookNumber" asp-route-name="@item.Name">Изменить</a>
                            <a class="btn btn-danger button-fixed button-sm" asp-action="StudentDelete" asp-route-gradebookNumber="@item.GradebookNumber">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>